.DS_Store
Similarity/IPC_LIVE_DETECTION/IPC_LIVE_DETECTION.xcodeproj/project.xcworkspace/xcuserdata/kennethmayer.xcuserdatad/UserInterfaceState.xcuserstate
Similarity/IPC_LIVE_DETECTION/IPC_LIVE_DETECTION.xcodeproj/project.xcworkspace/xcuserdata/kennethmayer.xcuserdatad/UserInterfaceState.xcuserstate
